#include <windows.h>

#define IDC_STATIC -1
#define IDD_NOTIFICATION_DIALOG 9100
#define IDC_NOTIF_TITLE 9102
#define IDC_NOTIF_MESSAGE 9103
#define IDC_GOTO_LOCATION 9107

IDD_NOTIFICATION_DIALOG DIALOG 0, 0, 350, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "City Notification"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Notification Title", IDC_NOTIF_TITLE, 10, 10, 330, 16
    LTEXT           "Main notification message", IDC_NOTIF_MESSAGE, 10, 35, 330, 60
    PUSHBUTTON      "Go To Location", IDC_GOTO_LOCATION, 10, 170, 80, 15
    PUSHBUTTON      "OK", 1, 250, 170, 40, 15
    PUSHBUTTON      "Cancel", 2, 295, 170, 40, 15
END